* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
}
.box {
  background-color: #000;
  border: 2px solid #fff;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  font-size: 32px;
  color: #fbff00;
}
.game-over {
  display: none;
}
.show {
  display: block !important;
}
.game-title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 5rem;
}
.image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
